<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

		    <context:component-scan base-package="bbs" />

	<!--spring bean配置 -->
	<!-- dao层 -->
	  <bean id="Daolmpl" class="bbs.dao.Daolmpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- service层 -->
	<bean id="PersonManagerBase" class="bbs.service.PersonServiceImpl">
		<property name="dao" ref="Daolmpl"></property>
	</bean>

	<bean id="BoardManagerBase" class="bbs.service.BoardServiceImpl">
		<property name="dao" ref="Daolmpl"></property>
	</bean>
	
	<bean id="BPManagerBase" class="bbs.service.BPServiceImpl">
		<property name="dao" ref="Daolmpl"></property>
	</bean>
 	
	<bean id="PostManagerBase" class="bbs.service.PostServiceImpl">
		<property name="dao" ref="Daolmpl"></property>
	</bean>
	
	<bean id="ReplayManagerBase" class="bbs.service.ReplayServiceImpl">
		<property name="dao" ref="Daolmpl"></property>
	</bean>	
	
	<!-- 表示spirng对事务的支持 -->
	<bean id="PersonManager" parent="transactionBese">
		<property name="target" ref="PersonManagerBase"></property>
	</bean>
 
	<bean id="BoardManager" parent="transactionBese">
		<property name="target" ref="BoardManagerBase"></property>
	</bean>
	
	<bean id="BPManager" parent="transactionBese">
		<property name="target" ref="BPManagerBase"></property>
	</bean>
 	
	<bean id="PostManager" parent="transactionBese">
		<property name="target" ref="PostManagerBase"></property>
	</bean>
	
		<bean id="ReplayManager" parent="transactionBese">
		<property name="target" ref="ReplayManagerBase"></property>
	</bean>

	<!-- spring 和hibernate级联 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///mybbs?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="lxx915303" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hiberante.format_sql">true</prop>
		  		<prop key="javax.persistence.validation.mode">none</prop> 	
			</props>
		</property>
		<!-- 这里是放hibernate映射文件的位置 -->
		<property name="configLocations">
			<list>
				<value>
					classpath*:config/hibernate.cfg.test.xml
				</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="transactionBese"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		lazy-init="true" abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				  	<prop key="*">PROPAGATION_REQUIRED,-Exception</prop> 
				 
			</props>
		</property>
	</bean>

</beans>