@CHARSET "UTF-8";
#right{
overflow-y:scroll;
height:450px;
}
#right table{
	border:1px solid #06f;
	margin:10px 10px;
	border-collapse:collapse; 	
}
#right table tr{
	height:30px;
	border:none;
}
#right table td{
	text-align:center;
	border:1px solid blue;
	padding:5px 5px 5px 5px;
}
#right p{
	padding-top:10px;
}
#right a{
	text-decoration:none;
	color:#333;
}
#right  a:hover{
	color:#06f;
}
#right .orange:hover{
	background-color:#f60;
}
#right #title{
	width:440px;
}
#right .area{
	width:560px;
	height:100px;
}
#right #submit{
	font-size:15px;
}
#right .fenye{
	text-align:center;
}
#right .suojin{
	text-indent:10px;
}